In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime,date

In [3]:
# Loading the Customer Address Data from the excel file

cust_address=pd.read_excel('/content/drive/MyDrive/collab/Raw_data.xlsx',sheet_name='CustomerAddress')

In [5]:
# Checking first 5 records from Customer Address Data

cust_address.head(5)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [7]:
# Information of columns and data-types of Customer Address Data.

cust_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

# **Total Records**

In [8]:
print('Total records (rows) in the dataset: {}'.format(cust_address.shape[0]))
print('Total records (columns) in the dataset: {}'.format(cust_address.shape[1]))

Total records (rows) in the dataset: 3999
Total records (columns) in the dataset: 6

# **Numeric Columns and Non-Numeric Columns**

In [10]:
#select numeric columns
df_numeric=cust_address.select_dtypes(include=np.number)
numeric_cols=df_numeric.columns.values
print('The numeric columns are:{}'.format(numeric_cols))


#select  non numeric columns
df_non_numeric=cust_address.select_dtypes(exclude=np.number)
non_numeric_cols=df_non_numeric.columns.values
print('The non numeric columns are:{}'.format(non_numeric_cols))

The numeric columns are:['customer_id' 'postcode' 'property_valuation']
The non numeric columns are:['address' 'state' 'country']